<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQwIphL5cbYs8-sf4185PLqKDYS8LirM0</string>
	<key>GCM_SENDER_ID</key>
	<string>952198135723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosmandroid.loodoscase</string>
	<key>PROJECT_ID</key>
	<string>loodos-case-a55c7</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-case-a55c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:952198135723:ios:292925d530b05f26075cee</string>
</dict>
</plist>
